# macOS
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
.venv/
.env

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/

# iOS
ios/Pods/